.back__link a{
    font-family: 'Gilroy';
    color: #ccc;
    font-size: 20px;
    font-weight: 500;
    transition: color .1s linear;
}
.back__link a:hover{
    color: #7a7a7a;
}
.source_link a{
    color: #333;
    transition: all .1s linear; 
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
}
.example{
    margin: 0 0 25px 0;
}
.source_link a:hover{
    color: #fff;
    background-color: #333;
}
.underline{
    width: 100%;
    height: 2px;
    margin: 40px 0 30px 0;
    background-color: #7a7a7a;
}

/* card */
.main__items{
    display: flex;
    justify-content: space-between;

    font-family: 'Gilroy';
    color: #333;
}

.main__card{
    flex: 1 1 auto;
    margin: 0 50px 0 0;
    min-height: 350px;
}

.main__card_name h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.main__card_intro{
    width: 100%;
    height: 00px;
    background: url('../img/intro/intro10.jpg') 0 0/cover no-repeat;
}

.main__card_intro_d{
    width: 100%;
    height: 400px;
    background-color:rgba(4, 5, 1, 5%);
}

.main__card_info p{
    font-weight: 500;
    margin: 40px 0 30px 0;
}

.main__card_list{
    margin: 0 0 50px 0;
}

.list__item{
    display: flex;
    justify-content: start;
}
.list__item ul:first-child{
    margin: 0 300px 0 0;
}
.list__item ul{
    position: relative;
    padding: 0 0 0 10px;
}
.list__item ul::before{
    content: '';
    width: 2px;
    height: 50px;
    background-color: #7a7a7a;
    position: absolute;
    top: 0;
    left: 0;
}
.list__item li:first-child{
    color: #272727;
}
.list__item li:last-child{
    margin: 0 0 0 3px;
}

.main__cards_about{
    margin: 0 0 30px 0;
}

.main__about_title{
    margin: 0 0 3px 0;
}
.main__about_title h3{
    font-size: 17px;
    font-weight: 500;
}

.main__specific_title{
    margin: 0 0 20px 0;
}
.main__specific_title p{
    font-size: 17px;
    font-weight: 500;
}
.main__specific_card{
    width: 100%;
    min-height: auto;
    background-color: #333;
    color: #fff;
    padding: 40px 30px 20px 30px;
}
.specific__card_os{
    position: relative;
    margin: 0 0 30px 0;
}
.specific__card_os p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}
.specific__card_os::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7a7a7a;
}
.specific__card_flex{
    display: flex;
    justify-content: space-between;
}
.left{
    margin: 0 50px 0 0;
}
.specific__card ul:first-child{
    color: #7a7a7a;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.specific__card ul{
    font-family: 'Gilroy';
    margin: 20px 0 20px 0;
}
.specific__card li:first-child{
    font-weight: 600;
    color: #7a7a7a;
    font-weight: 500;
}
.specific__card{
    font-weight: 700;
}


.card_info{
    margin: 85px 0 0 0;
    flex: 0 0 auto;
    width: 30%;
    height: 200px;
    background-color: #333;
}
.card__intro{
    width: 100%;
    height: 200px;
    background: url('../img/intro/intro10.jpg') 50% 0/cover no-repeat;
}
.card__info_item{
    margin: 20px 0 0 0;
}
.card__info_flex ul{
    display: flex;
    justify-content: space-between;
}
.card__info_list li:first-child{
    font-weight: 500;
}
.card__info_list ul{
    font-family: 'Gilroy';
    margin: 20px 0 20px 0;
    position: relative;
}
.card__info_list ul::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7a7a7a;
}
.card__info_list li:first-child{
    font-weight: 600;
    color: #7a7a7a;
    font-weight: 500;
}
.card__info_list li:last-child{
    color: #333;
    font-weight: 600;
}

