body {
    background-color: #2a2a2a;
    transition: all .1s linear;
}

/* main */
.main__info{
    background-color: #333;
}
.main__info p{
    color: #fff;
}

.change-theme[data-theme='dark'] {
    display: none;
}
.change-theme[data-theme='light'] {
    display: block;
}